/* WebChat Selector */

.webchat-page .accueil-title, .webchat-page .accueil-title h2 {
    margin-bottom: 0;
    color: var(--color-text-index);
}

#chatSelectorSection {
    text-align: center;
}

#chatSelectorSection select, #chatSelectorSection option {
    padding: 5px;
    border: none;
    border-radius: 2px;
    background-color: #5D7E57;
    color: white;
}

/* Container Webchat */

.webchat-container {
    height: 70vh;
    display: flex;
    margin: auto;
    width: 85vw;
    justify-content: center;
}

.webchat-container section {
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
    margin: 5px;
}

/* Channels et catégorie */

.channels-chats-container {
    text-align: center;
    color: white;
    padding: 14px;
    width: 18%;
    position: relative;
}

.channels-chats-container .chatSelector {
    max-height: 50vh;
    overflow-y: auto;
    margin: 0;
    padding: 2px;
    scrollbar-color: #5D7E57 transparent;
    scrollbar-width: thin;
}

.chatSelector::-webkit-scrollbar {
    width: 10px;
}
  
.chatSelector::-webkit-scrollbar-track {
    background: #5D7E57 transparent;;
}
  
.chatSelector::-webkit-scrollbar-thumb {
    background-color: #5D7E57 transparent;;
    border-radius: 5px;
    border: #5D7E57 transparent;;
}

.channel-name {
    list-style: none;
    padding: 4px;
    background-color: var(--color-green);
    border-radius: 5px;
    border: 1px solid #5D7E57;
    margin-bottom: 1vh;
    color: white;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}

.channel-name:hover {
    color: #5D7E57;
    background-color: white;
    cursor: pointer;
}

.channels-chats-container h3 {
    text-transform: uppercase;
    font-weight: bold;
}

.channels-chats-container #createNewWebchat {
    padding: 3px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    bottom: 2%;
    position: absolute;
    width: 80%;
    left: 1vw;
    background-color: var(--color-green);
}

/* Dm créer conv */

#dm-create-conv-box {
    border-radius: 4px;
    border: 2px solid white;
    background-color: var(--color-green);
    margin-bottom: 2px;
    padding: 4px;
}

#dm-create-conv-box input[type="text"] {
    margin-bottom: 2px;
    padding: 2px;
    border-radius: 4px;
}

#dm-create-conv-box button {
    margin-top: 2px;
    padding: 4px;
    border-radius: 4px;
    color: white;
    background-color: #84d1cb;
    border: 1px solid #84d1cb;
    transition: all 0.4s ease-in-out;
}

#dm-create-conv-box button:hover {
    cursor: pointer;
    background-color: #bed8d6;
}

/* Chat */

.chatName {
    background-color: var(--color-green);
    text-align: center;
    font-weight: bold;
    color: white;
    font-family: 'Amatic SC', sans-serif;
    font-size: 4vh;
}

#messageSelectChat {
    margin-top: 2%;
    text-align: center;
}

.chatType-container {
    position: relative;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

#publicChat-container .inDragAndDrop {
    filter: blur(1px);
    background-color: rgba(128, 128, 128, 0.421);
    border: 2px solid gray;
}

#messageDragDrop {
    z-index: 9;
    text-align: center;
    color: white;
    position: absolute;
    left: 35%;
    top: 30%;
    font-weight: bold;
    margin-top: 15px;
    font-size: 22px;
}

#webChat, #dmChat {
    padding: 8px;
    max-height: 57vh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: #5D7E57 transparent;
    scrollbar-width: thin;
}

.webchat-box::-webkit-scrollbar {
    width: 12px;
}
  
.webchat-box::-webkit-scrollbar-track {
    background: transparent;
}
  
.webchat-box::-webkit-scrollbar-thumb {
    background-color: var(--color-green-crossbar);
    border-radius: 6px;
    border: 3px solid var(--color-white);
}

.message-box .message-content {
    background-color: #FAEDCD;
}

.message-box {
    margin-right: auto;
    max-width: 50%;
    display: flex;
    margin-top: 2px;
}

.message-box .message-content {
    border-radius: 4px;
    border-bottom-left-radius: 0;
    -webkit-border-radius: 4px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius: 4px;
    -moz-border-radius-bottomleft: 0;
    border-bottom-right-radius: 8px;
    border: 1px solid rgba(175, 175, 175, 0.825);
}

.message-box .message-box-text {
    align-self: center;
    margin-left: 1vw;
}

.message-box-text-multiple {
    margin-left: 5vw;
}

.message-box .message-box-pfp, .message-box-author .message-box-pfp {
    max-width: 4vw;
    max-height: 9vh;
    border-radius: 50%;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.message-author {
    font-weight: bold;
}

.message-box-author {
    margin-top: 2px;
    display: flex;
    max-width: 50%;
    margin-left: auto;
    justify-content: end;
    text-align: end;
}

.message-content {
    padding: 10px 8px 10px 8px;
    max-width: 35vw;
    height: auto;
    overflow: auto;
    overflow-wrap: break-word;
}

.message-box-author img {
    width: 4vw;
    border-radius: 50%;
}

.message-box-author .message-box-text {
    align-self: center;
    margin-right: 1vw;
    display: flex;
    flex-direction: column;
    align-items: end;
}

/* Dates */
.message-box .message-author-date, .message-box-author .message-author-date {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.message-box-author .message-author-date {
    flex-direction: row-reverse;
}

.message-date {
    margin-top: 2px;
}
.message-box .message-date {
    margin-left: 5px;
}

.message-box-author .message-date {
    margin-right: 5px;
}

.message-date {
    font-size: 1.5vh;
    color: rgba(112, 111, 111, 0.775);
}

/* Message auteur */
.message-box-author-text-multiple {
    margin-right: 5vw;
}

.message-box-author .message-content {
    color: white;
    border-radius: 4px;
    border-bottom-right-radius: 0;
    background-color: #5D7E57;
    -webkit-border-radius: 4px;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius: 4px;
    -moz-border-radius-bottomright: 0;
    border-bottom-left-radius: 8px;
    border: 1px solid rgba(175, 175, 175, 0.825);
}

.message-box-author .message-image, .message-box .message-image {
    max-width: 28vw !important;
    width: 75%;
    height: auto;
    border: 2px solid #5D7E57;
    border-radius: 4px !important;
}

/* Popup Clic droit */

.message-menu-popup, .message-author-menu-popup {
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 6px;
    position: absolute;
    padding: 6px;
}

.message-menu-popup {
    background-color: rgb(91, 86, 86);
    border-radius: 5px;
}

.message-menu-popup p, .message-author-menu-popup p {
    color: white;
    font-size: 14px;
    margin-bottom: 6px;
}

.message-menu-popup a, .message-author-menu-popup button {
    padding: 5px;
    border: none;
    border-radius: 6px;
    margin-bottom: 4px;
    background-color: rgb(185, 34, 34);
    color: white;
}

.message-author-menu-popup {
    background-color: #3e929a;
    border-radius: 8px;
}

.message-menu-popup a:hover, .message-author-menu-popup button:hover {
    cursor: pointer;
}

#imageLinkPopup {
    background-color: rgb(110, 110, 193);
    margin-left: 5px;
    border-radius: 5px;
    color: white;
    padding: 4px;
}

/* Chat Input */

.chatInput {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.formInputWebchat {
    background-color: #ECECEC;
    padding: 4px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto 5px auto;
    width: fit-content;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.file-uploaded-container {
    display: inline;
    margin-right: 2px;
}

.file-uploaded-box {
    text-decoration: underline;
    color: #3e929a;
}

.file-uploaded-container span {
    margin-left: 4px;
    margin-bottom: 1px;
    color: rgb(201, 40, 40);
}

.file-uploaded-container span:hover {
    cursor: pointer;
}

.sendFileBtnChat {
    margin-right: 10px;
}

.input-message-chat {
    color: #787878;
    border: none;
    font-weight: bold;
    width: 28vw;
    background-color: transparent;
}

.formInputWebchat #messageInputChat {
    margin-right: 20px;
}

.formInputWebchat button {
    transition: all 0.4s ease-in-out;
    background: transparent;
    border: none;
}

.formInputWebchat button img {
    width: 2vw;
}

.formInputWebchat button:hover {
    cursor: pointer;
    filter: invert(77%) sepia(17%) saturate(1210%) hue-rotate(112deg) brightness(107%) contrast(102%);
}

.formInputWebchat input[type='file'] {
    display: none;
}

/* Responsive */

@media all and (max-width: 600px) and (max-height: 926px),
screen and (device-width <= 428px) and (device-height <= 926px) {
    /* Container global */
    .webchat-container {
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    /* Channels selection container */
    .channels-chats-container {
        width: 100%;
        text-align: center;
        position: initial;
        padding-top: 0;
    }
    .channels-chats-container h3 {
        font-size: 2vh;
    }
    .chatSelector {
        overflow-y: auto;
        padding: 8px !important;
        max-height: 15vh;
        margin-bottom: 6px !important;
    }
    #createNewWebchat {
        position: initial !important;
    }

    #webChat, #dmChat {
        max-height: 35vh !important;
        padding: 10px;
    }

    #webChatName {
        font-size: 3vh;
    }

    /* Messages */
    .message-box, .message-box-author {
        max-width: 100%;
    }

    footer {
        margin-bottom: -15vh !important;
        left: 0;
        width: 100vw;
    }

    .message-box .message-box-pfp, .message-box-author .message-box-pfp {
        max-width: 11vw !important;
        height: auto !important;
        max-height: 7vh;
        width: 11vw;
    }

    .message-box-text-multiple {
        margin-left: 12vw;
    }
    .message-box-author-text-multiple {
        margin-right: 12vw;
    }

    .message-box .message-content, .message-box-author .message-content {
        font-size: small;
        max-width: 50vw;
    }
    .message-box-author .message-image, .message-box .message-image {
        max-width: 50vw !important;
        width: 100% !important;
        height: auto;
    }

    /* Input chat et message */
    .chatInput {
        position: initial;
        max-width: 80vw;
        margin: auto;
    }
    
    .formInputWebchat {
        justify-content: center;
        width: 70vw;
    }

    .formInputWebchat button img {
        width: 8vw;
    }

    .input-message-chat {
        width: 40vw;
    }
}